<nav class="navbar" style="background-color: light;">
  <%= link_to "todo ✅ ", root_path, class: 'navbar-brand' %>&nbsp;

    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&nbsp;
    <button class="btn btn btn-secondary " type="submit" style="background-color: #A95C68 ;">Search</button>

</nav>